.background-rectangle {
    height: 100%;
    width: 100%;
    background-color: #f5a20a;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.outer-rectangle {
    height: 100%;
    width: 70%;
    background-color: #c85a05;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.middle-rectangle {
    height: 300px;
    width: 70%;
    background-color: #bc4e0f;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.inner-rectangle {
    height: 200px;
    width: 70%;
    background-color: #b41d12;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding-top: 4rem;
    padding-bottom: 2rem;
}